# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
node_modules/

#vendor/

vendor/filippo.io
vendor/go.mau.fi
vendor/golang.org
vendor/google.golang.org
vendor/gopkg.in
vendor/modernc.org
vendor/rsc.io

vendor/github.com/davecgh
vendor/github.com/dustin
vendor/github.com/febriliankr
vendor/github.com/go-chi
vendor/github.com/google
vendor/github.com/gorilla
vendor/github.com/hashicorp
vendor/github.com/joho
vendor/github.com/lib
vendor/github.com/mattn
vendor/github.com/mdp
vendor/github.com/ncruces
vendor/github.com/pmezard
vendor/github.com/remyoudompheng
vendor/github.com/rs
vendor/github.com/stretchr

# Go workspace file
go.work
go.work.sum
